body {
	margin: 0px;
}

svg {
	background-color: #fff;
	cursor: default;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

svg:not(.active):not(.ctrl) {
	cursor: crosshair;
}

path.link {
	fill: none;
	stroke: #000;
	stroke-width: 4px;
	cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
	cursor: pointer;
}

path.link.selected {
	stroke-dasharray: 10,2;
}

path.link.dragline {
	pointer-events: none;
}

path.link.hidden {
	stroke-width: 0;
}

circle.node {
	stroke-width: 1.5px;
	cursor: pointer;
}

circle.node.reflexive {
	stroke: #000 !important;
	stroke-width: 2.5px;
}

text {
	font: 12px sans-serif;
	pointer-events: none;
}

text.id {
	text-anchor: middle;
	font-weight: bold;
}

article {
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
	pointer-events: none;
	position: fixed;
	padding: 10px 14px;
	overflow: hidden;
	font-family: sans-serif;
}

ul {
	list-style-type: none;
	padding-left: 16px;
	margin-top: 10px;
}

li:before {
	text-indent: 15px;
}

li:before {
	content: "\2013\a0";
	color: #bbb;
	font-weight: bold;
}

header {
	font-family: "Gill Sans MT", Georgia;
	font-size: 24pt;
	border-bottom: 2px solid #bbb;
	display: inline-block;
}

select {
	pointer-events: auto;
}

option[disabled] {
	font-weight: bold;
}

#notify {
	position: fixed;
	top: 20px;
	width: 100%;
	text-align: center;
	font-size: 22pt;
}
